<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Third party js-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	

		<!-- Third party css-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

		<title>{% block title %} {% endblock %}</title>
		
         <!-- Custom css-->
		{% block head %}

		{% endblock %}

    </head>

	<body>
		<div class="navbar">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href=""></a>
				</div>

	            {% block extra %}
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	          			<ul class="nav navbar-nav">
	                
	                	</ul>
	        		</div><!-- /.navbar-collapse -->

					
				{% endblock %}	
	        </div><!-- /.container-fluid -->
        </div>

		{% block content %}  

		{% endblock %}
	 		

		{% block js_block %}
		     
		{% endblock %}
					
	</body>

</html>

